@tailwind base;

html {
  line-height: 1.75;
}

@screen sm {
  html {
    font-size: 18px;
  }
}

h1 {
  @apply text-2xl leading-snug font-bold;
  @screen sm {
    @apply text-3xl;
  }
}

h2 {
  @apply text-lg;
  @screen sm {
    @apply text-xl;
  }
}

@tailwind components;

.py-main {
  @apply py-6;
  @screen sm {
    @apply py-8;
  }
}

@tailwind utilities;

@responsive {
  .l-1\/2 {
    left: 50%;
  }
  .r-1\/2 {
    right: 50%;
  }
}

/* for icons */
@responsive {
  svg.s-1 {
    width: 16px;
    height: 16px;
  }
  svg.s-2 {
    width: 24px;
    height: 24px;
  }
  svg.s-3 {
    width: 32px;
    height: 32px;
  }
}
