<extends src="layouts/default.html">
  <block name="head-title" type="prepend">
    Programme
  </block>

  <block name="content">
    <div class="container py-main">
      <div class="longform">
        <h1>Programme</h1>
      </div>
      <%- include('partials/programme.ejs') %>
    </div>
  </block>
</extends>
