<svg
  class="fill-current"
  width="375"
  height="48"
  viewBox="0 0 2500 319"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
>
  <title>PUBMET<%= site.year %></title>
  <path
    d="M0,1.789l0,314.07l45.765,0l0,-104.54l69.095,0c67.749,0 101.849,-52.046 101.849,-104.541c0,-52.494 -34.1,-104.989 -101.849,-104.989l-114.86,0Zm45.765,164.663l0,-118.899l69.095,0c38.137,0 56.981,29.613 56.981,59.674c0,29.612 -18.844,59.225 -56.981,59.225l-69.095,0Z"
  ></path>
  <path
    d="M356.246,319c53.84,0 115.757,-33.202 115.757,-96.913l0,-219.849l-45.765,0l0,219.4c0,34.548 -37.239,52.046 -69.992,52.046c-33.202,0 -70.442,-17.049 -70.442,-51.597l0,-219.849l-45.765,0l0,219.4c0,64.16 61.02,97.362 116.207,97.362Z"
  ></path>
  <path
    d="M550.072,45.31l85.696,0c49.354,0 48.457,81.658 -0.897,81.658l-84.799,0l0,-81.658Zm-44.867,-43.072l0,313.621l141.78,0c60.122,0 91.08,-47.559 91.08,-94.669c0,-29.613 -13.011,-62.815 -48.905,-78.069c31.407,-22.434 35.445,-58.328 22.882,-89.286c-11.665,-29.164 -36.791,-51.597 -76.274,-51.597l-130.563,0Zm44.867,169.598l96.913,0c30.51,0 45.764,25.125 45.764,49.802c0,24.677 -15.254,50.251 -45.764,50.251l-96.913,0l0,-100.053Z"
  ></path>
  <path
    d="M809.404,94.664l82.107,122.039l25.574,0l82.107,-122.039l0,221.195l44.868,0l0,-314.07l-35.894,0l-103.643,152.548l-103.644,-152.548l-36.791,0l0,314.07l45.316,0l0,-221.195Z"
  ></path>
  <path
    d="M1125.72,181.706l142.229,0l0,-45.764l-142.229,0l0,-88.389l145.37,0l0,-45.315l-191.135,0l0,313.621l191.583,0l0,-45.316l-145.818,0l0,-88.837Z"
  ></path>
  <path
    d="M1432.16,317.205l0,-269.652l94.67,0l0,-45.764l-235.105,0l0,45.764l95.119,0l0,269.652l45.316,0Z"
  ></path>
  <path
    d="M1588.75,105.432c5.384,-34.996 25.575,-60.122 64.16,-60.122c73.134,0 85.248,74.48 35.894,109.925l0.449,0l-147.613,125.628l0,34.996l220.298,0l0,-43.521l-144.024,0c45.316,-37.688 56.981,-45.764 101.4,-82.556c84.799,-59.224 52.494,-189.788 -66.404,-189.788c-65.506,0 -101.399,45.765 -109.476,101.849l45.316,3.589Z"
  ></path>
  <path
    d="M1895.64,58.322c48.008,0 71.787,53.84 71.787,107.681c0,53.841 -23.779,107.232 -71.787,107.232c-48.457,0 -71.788,-53.391 -71.788,-107.232c0,-53.841 23.331,-107.681 71.788,-107.681Zm0,258.435c76.274,0 114.86,-75.377 114.86,-150.754c0,-75.377 -38.586,-151.203 -114.86,-151.203c-76.723,0 -114.86,75.826 -114.86,151.203c0,75.377 38.137,150.754 114.86,150.754Z"
  ></path>
  <path
    d="M2078.25,105.432c5.384,-34.996 25.575,-60.122 64.16,-60.122c73.134,0 85.248,74.48 35.894,109.925l0.449,0l-147.613,125.628l0,34.996l220.298,0l0,-43.521l-144.024,0c45.316,-37.688 56.981,-45.764 101.4,-82.556c84.799,-59.224 52.495,-189.788 -66.404,-189.788c-65.506,0 -101.399,45.765 -109.475,101.849l45.315,3.589Z"
  ></path>
  <path
    d="M2385.14,58.322c48.008,0 71.787,53.84 71.787,107.681c0,53.841 -23.779,107.232 -71.787,107.232c-48.457,0 -71.788,-53.391 -71.788,-107.232c0,-53.841 23.331,-107.681 71.788,-107.681Zm0,258.435c76.274,0 114.86,-75.377 114.86,-150.754c0,-75.377 -38.586,-151.203 -114.86,-151.203c-76.723,0 -114.86,75.826 -114.86,151.203c0,75.377 38.137,150.754 114.86,150.754Z"
  ></path>
</svg>
