<header class="z-10">
  <nav
    data-navigation="container"
    class="flex items-center justify-between bg-colorbox-35 text-white sm:justify-center"
  >
    <a class="block px-3 py-2 md:px-5" href="/">
      <include
        src="partials/logo-glyph.html"
        locals='{ "width": "3rem" }'
      ></include>
    </a>
    <button
      data-navigation="toggle"
      class="block p-3 m-2 relative z-10 rounded-full expanded:text-black sm:hidden"
      type="button"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <icon
        class="s-1 block expanded:hidden"
        id="menu"
        role="img"
        aria-label="toggle menu"
      ></icon>
      <icon
        class="s-1 hidden expanded:block"
        id="close"
        role="img"
        aria-label="toggle menu"
      ></icon>
    </button>
    <ul
      data-navigation="menu"
      class="hidden absolute left-0 top-0 right-0 py-1 bg-white shadow-lg border-b border-gray-500 whitespace-no-wrap text-black sm:static sm:py-2 sm:bg-transparent sm:shadow-none sm:border-none sm:text-current sm:flex sm:items-center sm:justify-center"
    >
      <each loop="item in navigation">
        <li class="relative">
          <if condition="item.submenu.length === 0">
            <a
              class="block px-3 py-2 sm:rounded sm:focus:bg-white sm:focus:bg-opacity-25 sm:focus:outline-none sm:hover:bg-white sm:hover:bg-opacity-25 lg:px-6 {{ item.href === currentPath ? 'font-bold' : '' }}"
              href="{{ item.href }}"
              aria-selected="{{ item.href === currentPath ? 'page' : false }}"
            >
              {{ item.name }}
            </a>
          </if>
          <else>
            <button
              data-navigation="toggle"
              class="flex items-center w-full space-x-2 px-3 py-2 sm:relative sm:w-auto sm:space-x-0 sm:px-2 sm:rounded sm:focus:bg-white sm:focus:bg-opacity-25 sm:focus:outline-none sm:hover:bg-white sm:hover:bg-opacity-25 md:px-6"
              type="button"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span>
                {{ item.name }}
              </span>
              <span
                class="sm:absolute sm:bottom-0 sm:transform sm:l-1/2 sm:-translate-x-1/2"
              >
                <icon
                  class="s-1 block expanded:hidden"
                  id="chevron-down"
                  role="img"
                  aria-label="toggle menu"
                ></icon>
                <icon
                  class="s-1 hidden expanded:block"
                  id="chevron-up"
                  role="img"
                  aria-label="toggle menu"
                ></icon>
              </span>
            </button>
            <div
              data-navigation="menu"
              class="hidden divide-y sm:absolute sm:transform sm:l-1/2 sm:-translate-x-1/2 sm:bg-white sm:text-black sm:rounded sm:shadow"
            >
              <each loop="list in item.submenu">
                <ul class="mx-4 py-2 sm:mx-0">
                  <each loop="item in list">
                    <li class="text-sm">
                      <if condition="item.disabled">
                        <div class="p-2 text-gray-500 sm:px-4 sm:py-2">
                          {{ item.name }}
                        </div>
                      </if>
                      <else>
                        <a
                          class="block p-2 sm:px-4 sm:py-2 sm:hover:bg-gray-300 {{ item.href === currentPath ? 'font-bold sm:bg-gray-100' : '' }}"
                          href="{{ item.href }}"
                          aria-current="{{ item.href === currentPath ? 'page' : false }}"
                        >
                          {{ item.name }}
                        </a>
                      </else>
                    </li>
                  </each>
                </ul>
              </each>
            </div>
          </else>
        </li>
      </each>
    </ul>
  </nav>
</header>
