<header class="z-10">
  <nav
    data-navigation="container"
    class="flex items-center justify-between bg-colorbox-35 text-white lg:justify-center"
  >
    <a class="block px-3 py-2 lg:px-5" href="/">
      <include
        src="partials/logo-glyph.html"
        locals='{ "width": "3rem" }'
      ></include>
    </a>
    <button
      data-navigation="toggle"
      class="block p-3 m-2 relative z-10 rounded-full expanded:text-black lg:hidden"
      type="button"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <icon
        class="s-1 block expanded:hidden"
        id="menu"
        role="img"
        aria-label="toggle menu"
      ></icon>
      <icon
        class="s-1 hidden expanded:block"
        id="close"
        role="img"
        aria-label="toggle menu"
      ></icon>
    </button>
    <ul
      data-navigation="menu"
      class="hidden absolute left-0 top-0 right-0 py-1 bg-white shadow-lg border-b border-gray-500 whitespace-no-wrap text-black lg:static lg:py-2 lg:bg-transparent lg:shadow-none lg:border-none lg:text-current lg:flex lg:items-center lg:justify-center"
    >
      <each loop="item in navigation">
        <li class="relative">
          <if condition="item.submenu.length === 0">
            <a
              class="block px-3 py-2 lg:rounded lg:focus:bg-white lg:focus:bg-opacity-25 lg:focus:outline-none lg:hover:bg-white lg:hover:bg-opacity-25 lg:px-6 {{ item.href === currentPath ? 'font-bold' : '' }}"
              href="{{ item.href }}"
              aria-selected="{{ item.href === currentPath ? 'page' : false }}"
            >
              {{ item.name }}
            </a>
          </if>
          <else>
            <button
              data-navigation="toggle"
              class="flex items-center w-full space-x-2 px-3 py-2 lg:relative lg:w-auto lg:space-x-0 lg:px-2 lg:rounded lg:focus:bg-white lg:focus:bg-opacity-25 lg:focus:outline-none lg:hover:bg-white lg:hover:bg-opacity-25 lg:px-6"
              type="button"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span>
                {{ item.name }}
              </span>
              <span
                class="lg:absolute lg:bottom-0 lg:transform lg:l-1/2 lg:-translate-x-1/2"
              >
                <icon
                  class="s-1 block expanded:hidden"
                  id="chevron-down"
                  role="img"
                  aria-label="toggle menu"
                ></icon>
                <icon
                  class="s-1 hidden expanded:block"
                  id="chevron-up"
                  role="img"
                  aria-label="toggle menu"
                ></icon>
              </span>
            </button>
            <div
              data-navigation="menu"
              class="hidden divide-y lg:absolute lg:transform lg:l-1/2 lg:-translate-x-1/2 lg:bg-white lg:text-black lg:rounded lg:shadow"
            >
              <each loop="submenu in item.submenu">
                <ul class="mx-4 py-2 lg:mx-0">
                  <each loop="subitem in submenu">
                    <li class="text-sm">
                      <if condition="subitem.disabled">
                        <div class="p-2 text-gray-500 lg:px-4 lg:py-2">
                          {{ subitem.name }}
                        </div>
                      </if>
                      <else>
                        <a
                          class="block p-2 lg:px-4 lg:py-2 lg:hover:bg-gray-300 {{ subitem.href === currentPath ? 'font-bold lg:bg-gray-100' : '' }}"
                          href="{{ subitem.href }}"
                          aria-current="{{ subitem.href === currentPath ? 'page' : false }}"
                        >
                          {{ subitem.name }}
                        </a>
                      </else>
                    </li>
                  </each>
                </ul>
              </each>
            </div>
          </else>
        </li>
      </each>
    </ul>
  </nav>
</header>
