<% if (presenters) { %>
  <div class="<%= className %> text-gray-800">
    (<%- presenters.map(p => {
      if (typeof p === 'string') {
        return p
      }

      const presenter = p.id
        ? people.find(person => person.id === p.id)
        : p

      const presenterName = p.id
        ? `<a class="link" href="/people/${p.id}">${presenter.name}</a>`
        : presenter.name

      return [presenterName, presenter.affiliation]
        .filter(Boolean)
        .join(', ')
    }).join(', ') %>)
  </div>
<% } %>
