<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <block name="head-title"> | PUBMET{{ year }}</block>
    </title>
    <meta name="description" content="{{ description }}" />
    <include src="partials/google-analytics.html"></include>
    <link rel="stylesheet" href="/style.css" />
    <script defer src="/script.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <include src="partials/icons.html"></include>

    <div class="flex flex-col min-h-screen">
      <include src="partials/navigation.html"></include>

      <main class="flex-1">
        <block name="content">
          <!-- page content -->
        </block>
      </main>

      <footer class="bg-colorbox-35 text-white mt-1">
        <div class="container flex justify-center">
          <each loop="link in socialLinks">
            <a href="{{ link.url }}" class="block p-4">
              <icon
                id="{{ link.id }}"
                class="s-3"
                role="img"
                aria-label="{{ link.name }}"
              ></icon>
            </a>
          </each>
        </div>
      </footer>

      <div data-name="click-drop" class="hidden absolute inset-0"></div>
    </div>
  </body>
</html>
