<extends src="layouts/default.html">
  <block name="head-title" type="prepend">
    <%= file.data.frontmatter.name %>
  </block>

  <block name="content">
    <div class="py-main relative">
      <h1 class="container lg:hidden">
        <%= file.data.frontmatter.name %>
      </h1>
      <div class="bg-gray-200 my-4 sm:mt-2">
        <div class="container lg:flex lg:items-center">
          <div
            class="ar max-w-xs border-l-4 border-r-4 border-white lg:flex-1"
            style="--w: 1; --h: 1;"
          >
            <div class="ar-media">
              <img
                src="{{ cloudinary('speakers/<%= file.basename.replace('.md', '') %>', [{ aspectRatio: '1:1', crop: 'fill', gravity: 'face' }, { width: parseInt(theme.screens.sm) }]) }}"
                alt=""
              />
            </div>
          </div>
          <h1 class="hidden lg:block lg:flex-1 lg:text-center">
            <%= file.data.frontmatter.name %>
          </h1>
        </div>
      </div>
      <div class="container space-y-4">
        <div class="longform">
          <%= contents %>
        </div>
        <ul class="space-y-2">
          <% if (file.data.frontmatter.website) { %>
          <li>
            <a
              class="inline-flex items-center space-x-2 link border-none"
              href="//<%= file.data.frontmatter.website %>"
              target="_blank"
            >
              <icon
                id="earth"
                class="s-2"
                role="img"
                aria-label="website"
              ></icon>
              <span class="text-gray-500 hover:text-current">
                <%= file.data.frontmatter.website %>
              </span>
            </a>
          </li>
          <% } %> <% if (file.data.frontmatter.twitter) { %>
          <li>
            <a
              class="inline-flex items-center space-x-2 link border-none text-twitter"
              href="https://twitter.com/<%= file.data.frontmatter.twitter %>"
              target="_blank"
            >
              <icon
                id="twitter"
                class="s-2"
                role="img"
                aria-label="Twitter"
              ></icon>
              <span class="text-gray-500 hover:text-current">
                @<%= file.data.frontmatter.twitter %>
              </span>
            </a>
          </li>
          <% } %> <% if (file.data.frontmatter.orcid) { %>
          <li>
            <a
              class="inline-flex items-center space-x-2 link border-none text-orcid"
              href="https://orcid.org/<%= file.data.frontmatter.orcid %>"
              target="_blank"
            >
              <icon id="orcid" class="s-2" role="img" aria-label="ORCID"></icon>
              <span class="text-gray-500 hover:text-current">
                <%= file.data.frontmatter.orcid %>
              </span>
            </a>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </block>
</extends>
